section{

    width: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    width: 95%;
    padding: 2rem;
    margin-bottom: 50px;
    font-style: inherit;
    font-weight: inherit;
    font-size: 20px;
    align-items: center;
}

p{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 510px;
     
}

.titulo {
    font-size: 35px;
    text-align: center;
    padding-bottom: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}