<header>
    <section>
        <div class="">
            <a [routerLink]="['/postList']"><img src="https://clipart-library.com/image_gallery/74611.png" alt="Blog"></a>
        </div>

        <div>
            <ul>
                <li><a class="lista" [routerLink]="['/postList']">Blog</a></li>
                <li><a class="lista" [routerLink]="['/createPost']">Crear</a></li>
                
            </ul>
        </div>
    </section>
    </header>
    <hr>
    
    <main>
        <router-outlet></router-outlet>
    </main>
    